.vscode

.ipynb_checkpoints/
*__pycache__/
*runs/
*wandb/

env/
*screenlog.0
tests/
models/
logs/
venv/
cached*
pytorch_model.bin

data/
!data/README.md
!data/carteggio_svevo.csv
!data/classificazione_epistolario.tsv
